<div class="container">
    <mat-toolbar>
        <span>民生解析</span>
    </mat-toolbar>
    <div class="content-layout">
        <div class="setting-layout">
            <span class="title">基本设置</span>
            <mat-form-field class="example-form-field">
                <mat-label>同时执行的任务数</mat-label>
                <label>
                    <input class="s-input" matInput [(ngModel)]="evaluateInfo.webOutPut" (keyup)="onKeyUpWebOutPut()">
                </label>
            </mat-form-field>
            <mat-form-field class="example-form-field">
                <mat-label>同时执行的任务数</mat-label>
                <label>
                    <input class="s-input" matInput [(ngModel)]="evaluateInfo.taskNum" (keyup)="onKeyUpTaskNum()">
                </label>
            </mat-form-field>
        </div>

        <div class="setting-layout">
            <span class="title">上传 Excel</span>
            <input id="fileField" style="margin-bottom: 6px;" #uploadImg type="file" value="解析 Excel"
                   (change)="fileChange($event)">
            <button mat-raised-button color="primary" style="margin-bottom: 6px;" (click)="onClickGetData()">
                获取数据，重新解析
            </button>
            <button mat-raised-button color="primary" style="margin-bottom: 6px;" (click)="onClickParseExcel()">
                {{isRun ? "暂停解析" : "开始解析"}}
            </button>
            <button mat-raised-button color="primary" (click)="onClickTest()">测试</button>
        </div>

        <div class="setting-layout">
            <span class="title">解析结果</span>
            <div *ngFor="let item of xlsxList; let i = index;">
                <div class="item-layout">
                    <div class="left-title">{{item.contractNo}}</div>
                    <div class="right-title"
                         *ngIf="item.status === 'WAIT'">{{item.status}}</div>
                    <div class="right-title" style="color: orange;"
                         *ngIf="item.status === 'LOADING'">{{item.status}}</div>
                    <div class="right-title" style="color: green;"
                         *ngIf="item.status === 'SUCCESS'">{{item.status}}</div>
                    <div class="right-title" style="color: red;"
                         *ngIf="item.status === 'FAIL'">{{item.status}}</div>
                </div>
            </div>
            <div class="empty-layout" *ngIf="xlsxList.length <= 0">
                请先上传 excel
            </div>
        </div>
    </div>
    <div *ngIf="isShow"
         style="display: flex; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255,255,255,0.8); z-index: 100; align-items: center; justify-content: center">
        <mat-spinner></mat-spinner>
    </div>
</div>
