<div class="container">
    <div class="toolbar">
        <span>民生银行抓取</span>
    </div>
    <div class="content-layout">
        <div class="setting-layout">
            <span class="title">基本设置</span>
            <div class="setting-item" *ngIf="false">
                <mat-form-field class="example-full-width">
                    <input matInput class="s-input" placeholder="抓取等待时间（ms）" [(ngModel)]="info.webWaitTime"
                           (keyup)="onKeyUpWebWaitTime()">
                </mat-form-field>
            </div>
            <div class="setting-item">
                <mat-form-field class="example-full-width">
                    <input matInput class="s-input" placeholder="文件输出路径" [(ngModel)]="info.webOutPut"
                           (keyup)="onKeyUpWebOutPut()">
                </mat-form-field>
            </div>
            <div class="setting-item" *ngIf="false">
                <mat-form-field class="example-full-width">
                    <input matInput class="s-input" placeholder="向前解析年数" [(ngModel)]="info.webYears"
                           (keyup)="onKeyUpWebYears()">
                </mat-form-field>
            </div>
            <div class="thread-setting-layout">
                <div class="thread-item" *ngIf="true">
                    <mat-form-field class="thread-item">
                        <input matInput class="s-input" placeholder="接口请求线程数" [(ngModel)]="info.urlThreadCount"
                               (keyup)="onKeyUpUrlThreadCount()">
                    </mat-form-field>
                </div>
                <div class="thread-item" *ngIf="true">
                    <mat-form-field class="thread-item">
                        <input matInput class="s-input" placeholder="Web解析线程数" [(ngModel)]="info.webThreadCount"
                               (keyup)="onKeyUpWebThreadCount()">
                    </mat-form-field>
                </div>
                <div class="thread-item" *ngIf="true">
                    <mat-form-field class="thread-item">
                        <input matInput class="s-input" placeholder="PDF生成线程数" [(ngModel)]="info.pdfThreadCount"
                               (keyup)="onKeyUpPdfThreadCount()">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="setting-layout">
            <span class="title">上传 Excel</span>
            <input id="fileField" style="margin-bottom: 6px;" #uploadImg type="file" value="解析 Excel"
                   (change)="onChangeFile($event)">
            <div class="c-layout">
                <button mat-stroked-button color="primary" style="flex:1;" (click)="onClickGetData()">
                    获取数据，重新解析
                </button>
                <button mat-stroked-button color="primary" style="flex:1; margin: 0 10px"
                        (click)="onClickParseExcel()">
                    {{isRun ? "暂停解析" : "开始解析"}}

                </button>
                <button mat-stroked-button color="primary" style="flex:1;"
                        (click)="onClickCreateLogger()">
                    将解析结果写入文件
                </button>
            </div>
        </div>

        <div class="setting-layout" style="margin-top: 12px;">
            <span class="title">解析结果</span>
            <div class="item-layout" *ngIf="minShengList.length > 0">
                <div class="left-title" style="width:130px;">身份证号码</div>
                <div class="left-title" style="width:80px;">放款时间</div>
                <div class="left-title" style="width:80px;">首次垫付时间</div>
                <div class="left-title" style="width:80px;">末次垫付时间</div>
                <div class="left-title" style="width:80px;">借款标的ID</div>
                <div class="left-title" style="width:60px;">进件号</div>
                <div class="left-title" style="width:80px;">URL</div>
                <div class="left-title" style="width:80px;">WEB</div>
                <div class="left-title" style="width:80px;">PDF</div>
            </div>
            <div *ngFor="let item of minShengList; let i = index;">
                <div class="item-layout">
                    <div class="left-title" style="width:130px;">{{item.id}}</div>
                    <div class="left-title" style="width:80px;">{{item.loanDate}}</div>
                    <div class="left-title" style="width:80px;">{{item.startAdvanceDate}}</div>
                    <div class="left-title" style="width:80px;">{{item.endAdvanceDate}}</div>
                    <div class="left-title" style="width:80px;">{{item.productCode}}</div>
                    <div class="left-title" style="width:60px;">{{item.contractNo}}</div>

                    <!-- URL -->
                    <div class="left-title"
                         style="width: 80px; {{item.getStatusColor(item.youxinStatus)}}">{{item.youxinStatus}}</div>

                    <!-- 民生 -->
                    <div class="left-title"
                         style="width: 80px; {{item.getStatusColor(item.webStatus)}}">{{item.webStatus}}</div>

                    <!-- PDF -->
                    <div class="left-title"
                         style="width: 80px; {{item.getStatusColor(item.pdfStatus)}}">{{item.pdfStatus}}</div>
                </div>
            </div>
            <div class="empty-layout" *ngIf="minShengList.length <= 0">
                请先上传 excel
            </div>
        </div>
    </div>
    <div *ngIf="isShow"
         style="display: flex; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255,255,255,0.8); z-index: 100; align-items: center; justify-content: center">
        <mat-spinner></mat-spinner>
    </div>
</div>
